<footer class="py-5">
  <div class="container">
    <p class="title fs-4 ">Get the FreshCart app</p>
    <p class="text-body-tertiary">we will send you a link, open it on your phone to download the app</p>
    <form class="py-2 row">
      <div class="form-group my-1 col-12 col-lg-10">
        <input type="text" name="EmailToShare" class="form-control py-2 px-3" placeholder="Email..." >
      </div>
      <div class="form-group my-1 col-4 mx-lg-auto col-lg-2">
        <input type="submit" value="Share App Link" class="btn btn-success py-2 px-3" placeholder="Email..." >
      </div>
    </form>
    <div class="connections d-flex justify-content-lg-between">
      <div class="partners d-flex justify-content-center align-items-center">
        <p>Payment Partners</p>
        <div class="icons">
          <img src="assets/images/Amazon_logo.svg.webp" alt="Amazon_logo">
          <img src="assets/images/American_Express.png" alt="American_Express">
          <img src="assets/images/masterCard.png" alt="masterCard">
          <img src="assets/images/paybal.png" alt="paybal">
        </div>
      </div>
      <div class="socials d-flex">
        <p>Get deliveries with FreshCart</p>
        <div class="icons">
          <img src="assets/images/apple-app-store-logo.jpg" alt="apple-app-store-logo">
          <img src="assets/images/en_badge_web_generic.png" alt="en_badge_web_generic">
        </div>
      </div>
    </div>
  </div>
</footer>